h1{
    background-color: black;
    color:white;
    text-transform: uppercase;
    text-wrap: bold;
    text-align: center;
}
.iniciosesion{
    display: inline;
    border: black solid 2px;
}
.boton{
    background-color: blue;
    border: 0px;
    color: white;
}